:root {
  --color-gray-100: #131523;
  --color-gray-90: #333752;
  --color-gray-80: #5a607f;
  --color-gray-70: #7e84a3;
  --color-gray-60: #a1a7c4;
  --color-gray-50: #d7dbec;
  --color-gray-40: #e6e9f4;
  --color-gray-30: #f5f6fa;
  --color-primary-100: #1e5eff;
  --color-primary-90: #336dff;
  --color-primary-80: #4f81ff;
  --color-primary-70: #608dff;
  --color-primary-60: #89abff;
  --color-primary-50: #b6cbff;
  --color-primary-40: #d9e4ff;
  --color-primary-30: #ecf2ff;
  --color-purple-100: #6e0bd4;
  --color-purple-90: #8125df;
  --color-purple-80: #9645e9;
  --color-purple-70: #a75ef1;
  --color-purple-60: #b97ff3;
  --color-purple-50: #d8b1ff;
  --color-purple-40: #e9d3ff;
  --color-purple-30: #f4e9fe;
  --color-red-100: #f0142f;
  --color-red-90: #f12b43;
  --color-red-80: #f34359;
  --color-red-70: #f45a6d;
  --color-red-60: #f8919d;
  --color-red-50: #fab3bc;
  --color-red-40: #fcd5d9;
  --color-red-30: #fde7ea;
  --color-green-100: #06a561;
  --color-green-90: #1fd286;
  --color-green-80: #25e191;
  --color-green-70: #48e9a5;
  --color-green-60: #74efb9;
  --color-green-50: #95f6cc;
  --color-green-40: #c4f8e2;
  --color-green-30: #daf9ec;
  --color-yellow-100: #f99600;
  --color-yellow-90: #ffc700;
  --color-yellow-80: #ffd613;
  --color-yellow-70: #ffe45f;
  --color-yellow-60: #ffe582;
  --color-yellow-50: #ffeca3;
  --color-yellow-40: #fff4c9;
  --color-yellow-30: #fff9e1;
  --color-white: #fff;

  --text-color: var(--color-gray-100);
  --text-color-light: var(--color-gray-80);
  --text-color-lighter: var(--color-gray-60);
  --text-color-inverse: var(--color-white);
  --text-color-primary: var(--color-primary-100);
  --text-color-red: var(--color-red-100);
  --text-color-green: var(--color-green-100);
  --text-color-yellow: var(--color-yellow-100);

  --screen-xl: 1140px;
  --screen-lg: 960px;
  --screen-md: 720px;
  --grid-gap: 30px;

  --control-lg: 48px;
  --control-md: 40px;
  --control-sm: 36px;

  --heading-1-size: 80px;
  --heading-1-height: 112px;
  --heading-2-size: 64px;
  --heading-2-height: 90px;
  --heading-3-size: 48px;
  --heading-3-height: 66px;
  --heading-4-size: 32px;
  --heading-4-height: 44px;
  --heading-5-size: 24px;
  --heading-5-height: 36px;
  --heading-6-size: 20px;
  --heading-6-height: 28px;

  --subtitle-lg-size: 24px;
  --subtitle-lg-height: 34px;
  --subtitle-md-size: 20px;
  --subtitle-md-height: 28px;

  --caption-lg-size: 16px;
  --caption-lg-height: 24px;
  --caption-md-size: 14px;
  --caption-md-height: 20px;

  --text-lg-size: 16px;
  --text-lg-height: 24px;
  --text-md-size: 14px;
  --text-md-height: 20px;
  --text-sm-size: 12px;
  --text-sm-height: 16px;

  --border-color: var(--color-gray-50);
  --border-radius-lg: 6px;
  --border-radius-md: 4px;

  --shadow-lg: 0 2px 6px rgba(19, 21, 35, 0.08);
  --shadow-md: 0 1px 4px rgba(19, 21, 35, 0.08);

  --transition-duration: 0.1s;
}
